<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Ajouter un lecteur</title>
</head>
    <body>
        <form action="#" th:action="@{/lecteurs/add}" th:object="${lecteur}" method="post">
		    <label for="nom">Nom : </label>
		    <input type="text" th:field="*{nom}" id="nom" placeholder="Nom">
		    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
		    <br>
		    <label for="prenom">Prenom</label>
		    <input type="text" th:field="*{prenom}" id="prenom" placeholder="prenom">
		    <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
		    <br>
		    <label for="age">Age</label>
		    <input type="text" th:field="*{age}" id="age" placeholder="age">
		    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
		    <br>
		    <input type="submit" value="Ajouter lecteur">
		</form>
		<p><a href="/lecteurs/">Page de menu</a></p>
	</body>
</html>